.mainCard {
  margin-left: 63%;
  margin-top: 1rem;

  span {
    color: cornflowerblue;
    display: block;
  }

  img {
    width: 200px;
    height: 200px;
    margin-left: 45px;
    margin-top: 1rem;
  }


}

.htag {
  margin-left: 32rem;
  margin-top: 1rem;
}