.home{
    display: flex;

    .homeContainer{
        flex:6;
        margin-left: 40px;
        justify-content: space-between;
        .widget, .charts{
            display: flex;
            padding: 2px;
            gap: 100px;
            
        }

        .charts{
            padding: 5px 20px;
        }
    }
    
}